<section class="all-movies-container">
    <h1>Filmes assistidos</h1>
    <div class="all-movies">
        <% if current_user.movies != nil %>
            <% current_user.movies.each do |movie| %>
                <%= link_to show_movie_path(movie.id), class: 'all-movies-cell' do %>
                    <% if movie.photo.attached? %>
                        <%= image_tag(movie.photo) %>
                    <% else %>
                        <%= image_tag("blank-profile-picture.png", class: "movie-banner") %>
                    <% end %>
                    <div class="movie-dark">
                      <span><%= movie.name %></span>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
</section>
