<section class="user">
  <div class="cotainer">
    <div class="row align-items-start">
      <!--vou dividir a pagina em 3 colunas-->
      <div class="col" id="first collum">
        <div id="profile-picture">
          <% if @user.photo.attached?%>
            <%= image_tag(@user.photo, id: "profile-picture", class:"rounded-circle") %>
          <%else %>
            <%= image_tag('blank-profile-picture.png', id: 'profile-picture', class: 'rounded-circle') %>
          <% end %>
        </div>
        <p id= "big-label" style="text-align:auto; float: right; margin-top: -20%; margin-right: -5%;"><b><%= @user.user_name %></b></p>
        <p class="text"><b class="text-label"> Email:</b> <%= @user.email %> </p>
        <p class="text"> <b class ="text-label">Gêneros Favoritos:</b> <%= @user.favorite_genres %>.</p>
        <p class="text" style="text-align:justify"><b class="text-label">Sobre mim:</b> <%= @user.info %>.</p>
        <p style="text-align: right"><b><%=link_to 'editar', edit_user_path, id: "button"%></b></p>
      </div>
      <div class="col" id="second collum">
        <p id="big-label"> <b>Filmes Assisitidos</b></p>
        <div class="row">
          <% count = 0 %>
          <% @watched_movies.each do |filme| %>
          <%if count < 5 %>
            <div class="col-8">
              <b><%=filme.name %></b>
            </div>
            <%count += 1 %>
          <% else %>
              <!--por enquanto ta edit user_path mas depois vou ajustar pra colocar o certo-->
              <p style="text-align: right"><b><%=link_to 'Todos os seus filmes', edit_user_path, id: "button"%></b></p>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="col" id='third collum'>
        <p id="big-label"><b>Suas Reviews</b></p>
        <div class="row">
          <% count2 = 0 %>
          <% @reviews.each do |review| %>
            <% if count2 < 5 %>
              <div class="col-8">
                <b class="movie-review" ><%=review.movie.name%></b>
                <p style="text-align:justify"><%= review.comment %></p>
              </div>
              <% count2 += 1 %>
            <% else %>
              <!--por enquanto ta edit_user_path mas depois vou ajustar pra colocar o certo-->
              <p style="text-align: right"><b><%=link_to 'Todas as suas reviews', edit_user_path, id: "button"%></b></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>