<section class="user">
  <div class="cotainer">
    <div class="row align-items-start">
      <!--vou dividir a pagina em 3 colunas-->
      <div class="col" id="first_collum">
        <div id="profile-picture">
          <% if @user.photo.attached?%>
            <%= image_tag(@user.photo, id: "profile-picture", class:"rounded-circle") %>
          <%else %>
            <%= image_tag('blank-profile-picture.png', id: 'profile-picture', class: 'rounded-circle') %>
          <% end %>
        </div>
        <p id= "big-label" class="user-name"><b><%= @user.user_name %></b></p>
        <p class="text" style="margin-top:5vh"><b class="text-label"> Email:</b> <%= @user.email %> </p>
        <p class="text"> <b class ="text-label">Gêneros Favoritos:</b> <%= @user.favorite_genres %>.</p>
        <p class="text" style="text-align:justify"><b class="text-label">Sobre mim:</b> <%= @user.info %>.</p>
        <p style="text-align: right"><b><%=link_to 'editar', edit_user_path, id: "button"%></b></p>
        <% if @user.is_admin %>
          <p class="button-add-movie"><%= link_to 'Adicionar Filme ', root_path, id:"add-movie" %></p>
        <% end %>
      </div>
      <div class="col" id="second_collum">
        <p id="big-label"> <b>Filmes Assisitidos</b></p>
        <div class="row">
          <% count = 0 %>
          <% @watched_movies.reverse.each do |filme| %>
          <%if count < 5 %>
            <div class="col-8">
              <b><%=filme.name %></b>
            </div>
            <%count += 1 %>
          <% end %>
          <% end %>
          <p style="text-align: right"><b><%=link_to 'Todos os seus filmes', edit_user_path, id: "button"%></b></p>
        </div>
      </div>
      <div class="col" id='third_collum'>
        <p id="big-label"><b>Suas Reviews</b></p>
        <div class="row">
          <% count2 = 0 %>
          <% @reviews.reverse.each do |review| %>
            <% if count2 < 3 %>
              <div class="col-8">
                <b class="movie-review" ><%=review.movie.name%></b>
                <b id="estrela"> &#9733; </b>
                <b style="color: #FBC773" ><%= review.score %></b>
                <p style="text-align:justify"><%= review.comment %></p>
              </div>
              <% count2 += 1 %>
            <% end %>
          <% end %>
          <p style="text-align: right"><b><%=link_to 'Todas as suas reviews', reviews_user_path, id: "button"%></b></p>
        </div>
      </div>
    </div>
  </div>
</section>