<% if @latest_first == nil or @best_rated == nil or @latest == nil %>
  <section class='no-movies'>
    <h1>Estamos sem filmes no momento...</h1>
    <%= image_tag('no-movies', class: "no-movies-image") %>

  </section>

<% else %>
<section class="latest-movies">
  <h1>Últimos adicionados</h1>
  <div class="movie-banners">
    <%= link_to show_movie_path(@latest_first.id), class:"latest-first" do %>
      <% if @latest_first.photo.attached?%>
        <%= image_tag(@latest_first.photo, class: "first-banner") %>
      <%else %>
        <%= image_tag('blank-profile-picture.png', class: "first-banner") %>
      <% end %>
      <div class="dark-transparent"></div>
      <div class="name-rating-first">
        <span class="name"><%= @latest_first.name %></span>
        <div class="rating">
          <i class="fa fa-star"></i>
          <span><%= @latest_first.final_score %></span>
        </div>
      </div>
    <% end %>
    <div class="latest-grid">
      <% @latest.each do |m|%>
        <%= link_to show_movie_path(m.id), class: "movie-cell" do %>
          <% if m.photo.attached?%>
            <%= image_tag(m.photo, class: "movie-cell-banner") %>
          <%else %>
            <%= image_tag('blank-profile-picture.png', class: "movie-cell-banner") %>
          <% end %>
          <div class="name-rating">
            <span><%= m.name %></span>
            <div class="rating">
              <i class="fa fa-star"></i>
              <span><%= m.final_score %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  

</section>

<section class="best-rated-movies">
  <h1>Melhores filmes</h1>

  <div class="rated-container">
    <% @best_rated.each do |m|%>
      <%= link_to show_movie_path(m.id), class: "rated-movie-cell" do %>
        <% if m.photo.attached?%>
          <%= image_tag(m.photo, class: "movie-cell-banner") %>
        <%else %>
           <%= image_tag('blank-profile-picture.png', class: "movie-cell-banner") %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= link_to index_movies_path, :class => 'all-movies' do %>
    <i class="fa fa-list"></i>
    <span>Ver todos os filmes</span>
  <% end %>

</section>
<% end %>