<section class="latest-movies">
  <h1>Últimos adicionados</h1>
  <div class="movie-banners">
    <div class="latest-first">
      <% if @latest_first.photo.attached?%>
        <%= image_tag(@latest_first.photo, class: "first-banner") %>
      <%else %>
        <%= image_tag('blank-profile-picture.png', class: "first-banner") %>
      <% end %>
      <div class="dark-transparent"></div>
      <div class="name-rating-first">
        <span class="name"><%= @latest_first.name %></span>
        <div class="rating">
          <i id="estrela" class="fa fa-star"></i>
          <span><%= @final_score_first %></span>
        </div>
      </div>
    </div>
    <div class="latest-grid">
      <% i = 0 %>
      <% while i < @latest.count%>
        <div class="movie-cell">
          <% if @latest[i].photo.attached?%>
            <%= image_tag(@latest[i].photo, class: "movie-cell-banner") %>
          <%else %>
            <%= image_tag('blank-profile-picture.png', class: "movie-cell-banner") %>
          <% end %>
          <div class="name-rating">
            <span><%= @latest[i].name %></span>
            <div class="rating">
              <i id="estrela" class="fa fa-star"></i>
              <span><%= @final_scores[i] %></span>
            </div>
          </div>
        </div>
      <% i += 1 %>
      <% end %>
    </div>
  </div>
</section>

<section class="best-rated-movies">
  <h1>Melhores filmes</h1>
  <div class="rated-container">
    <% @best_rated.each do |m|%>
      <div class="rated-movie-cell">
        <% if m.photo.attached?%>
          <%= image_tag(m.photo, class: "movie-cell-banner") %>
        <%else %>
           <%= image_tag('blank-profile-picture.png', class: "movie-cell-banner") %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= link_to index_movies_path, :class => 'all-movies' do %>
    <i class="fa fa-list"></i>
    <span>Ver todos os filmes</span>
  <% end %>
</section>
