<section class="new-review">
  <div class="new-review-container">
    <div class="review-movie-info">
      <%if @movie.photo.attached? %>
        <%= image_tag(@movie.photo, class:'movie-picture')%>
      <%else %>
        <%= image_tag('blank-profile-picture.png', class:'movie-picture') %>
      <% end %>
      <div class="written-movie-info">
        <b class="movie-name"><%= @movie.name %></b>
        <div class="score">
          <i class="fa fa-star"></i>
          <%= @movie.final_score %>
        </div>
        <span class="movie-description"><%= @movie.description %></span>
      </div>
    </div>
    <div class="new-review-form">
      <%= form_with model:@review, url: :new_review, method: :post do |form| %>
        <div class="review-form">
          <div class="score-form">
            <i class="fa fa-star"></i>
            <p style="margin-right:2vh; font-weight: bold">Nota</p>
          </div>
          <%=form.number_field :score, options = {min:0, max:5} %>
        </div>
        <div class ='review-form'>
          <%= form.text_area :comment, placeholder: 'Comentário', class:"comment-form", size: '80x7' %>
        </div>
        <div class = "review-form">
          <%= form.submit class:'submit-button', data: {confirm: "Pressione 'ok' para deseja criar sua Review."} %>
        </div>
      <% end %>

    </div>
  </div>
</section>