<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path, :class => 'link' do %>
        <img class="icon" src="/assets/icon.svg" alt="icon" />
      <% end %>
      <form>
        <input placeholder="Pesquisar um filme" />
      </form>
      <% if not logged_in? %>
      <%= link_to new_user_path, :class => 'login' do %>
        <i class="fa fa-user"></i>
        <span>Login</span>
      <% end %>
        <% else %>
        <%= link_to show_user_path(current_user.id), :class => 'login' do %>
          <i class="fa fa-user"></i>
          <span><%= current_user.user_name %></span>
      <% end %>
        <% end  %>
    </header>
    <%= yield %>
  </body>
</html>
